@use "../../App.scss" as *;
@use "../../styles/partials/variables" as *;

.video-list {
  padding: 0 1rem 0 1rem;

  &__title {
    padding: 0.5rem 0 1rem 0;
    color: $secondary-font-color;
  }
}

.video-side {
  padding-bottom: 1rem;
  display: flex;
  cursor: pointer;

  &__image {
    width: 50%;
    padding-right: 1rem;
  }

  &__thumbnail {
    height: 5rem;
    width: 100%;
    border-radius: 5px;
  }

  &__container {
    width: 50%;
  }

  &__title {
    padding-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: auto;
    height: 3rem;
  }

  &__channel {
    font-weight: 400;
  }
}
