@use "./variables" as *;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary-font-color;
}

::placeholder {
  color: $primary-font-color;
  font-family: $font-stack;
}
