@use "./variables" as *;
@use "./mixins" as *;

// FONTS

@font-face {
  font-family: $font-stack;
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("/assets/Font/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Fahd. Please don't hurt me. I thought the Demi font weight went better with some of the styling.
@font-face {
  font-family: $font-stack;
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"),
    url("/assets/Font/Alternative-files/AvenirNextLTProDemi.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: $font-stack;
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("/assets/Font/Alternative-files/AvenirNextLTProBold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

// GLOBAL TYPOGRAPHY

body {
  font-family: $font-stack, Arial, Helvetica, sans-serif;
}

h1 {
  @include font(
    $bold-font-weight,
    $page-header-mobile-font-size,
    $page-header-mobile-line-height
  );

  @include tablet {
    @include font(
      $bold-font-weight,
      $page-header-normal-font-size,
      $page-header-normal-line-height
    );
  }
}

h3,
label {
  @include font(
    $bold-font-weight,
    $section-header-mobile-font-size,
    $section-header-mobile-line-height
  );

  @include tablet {
    @include font(
      $bold-font-weight,
      $section-header-normal-font-size,
      $section-header-normal-line-height
    );
  }
}

h4 {
  @include font(
    $bold-font-weight,
    $subheader-mobile-font-size,
    $subheader-mobile-line-height
  );

  @include tablet {
    @include font(
      $bold-font-weight,
      $subheader-normal-font-size,
      $subheader-normal-line-height
    );
  }
}

p {
  @include font(
    $normal-font-weight,
    $body-copy-mobile-font-size,
    $body-copy-mobile-line-height
  );

  @include tablet {
    @include font(
      $normal-font-weight,
      $body-copy-normal-font-size,
      $body-copy-normal-line-height
    );
  }
}

a {
  @include font(
    $bold-font-weight,
    $labels-buttons-mobile-font-size,
    $labels-buttons-mobile-line-height
  );

  @include tablet {
    @include font(
      $bold-font-weight,
      $labels-buttons-normal-font-size,
      $labels-buttons-normal-line-height
    );
  }
}
