@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload-success {
  padding: 0 1rem;
  @include container-center($max-width-mobile);

  &__text {
    color: $primary-background-color;
    padding: 0.5rem 0;
    border-radius: 5px;
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    font-size: $subheader-mobile-font-size;
    animation: pulse 3s infinite;
  }

  @keyframes pulse {
    0% {
      background-color: $primary-action-color;
    }
    100% {
      background-color: $hover-state-color;
    }
  }
}
