@use "../../App.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

header {
  padding: 1rem;
  @include container-center($max-width-mobile);

  @include tablet {
    padding: 1rem 2.5rem 1rem 2.5rem;
    @include container-center($max-width-tablet);
  }

  @include desktop {
    padding: 1.5rem 7rem 1.5rem 7rem;
    @include container-center($max-width-desktop);
  }
}

.nav {
  @include display-flex(column, center, center);

  @include tablet {
    flex-direction: row;
    width: 100%;
  }

  &__form {
    width: 100%;

    @include tablet {
      @include display-flex(row, center, center);
    }

    @include desktop {
      justify-content: flex-end;
    }
  }

  &__container {
    width: 100%;
    margin-bottom: 1rem;
    @include display-flex(row, space-between, center);

    @include tablet {
      display: inline-block;
      width: 55%;
      padding-right: 1.5rem;
      margin: 0;
    }

    @include desktop {
      width: 40%;
    }
  }

  &__input {
    background-image: url("../../assets/Icons/search.svg");
    background-repeat: no-repeat;
    background-position: (0.5rem 50%);
    padding-left: 2rem;
    width: 90%;
    margin-right: 1rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid $border-outline-color;
    background-color: $secondary-background-color;
    font-family: $font-stack;

    @include tablet {
      width: 100%;
      margin: 0;
      height: 2.5rem;
    }
  }
}

.logo {
  margin-bottom: 1rem;

  @include tablet {
    width: 45%;
    margin: 0;
    display: flex;
  }

  &__image {
    @include tablet {
      height: 1.5rem;
    }
  }
}

.avatar {
  @include icon-size(2rem, 2.2rem);
  object-fit: cover;

  @include tablet {
    display: none;
  }

  &--tablet {
    display: none;

    @include tablet {
      display: inline-block;
      @include icon-size(2.5rem, 2.7rem);
    }
  }
}
