@use "../../App.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  background-color: $video-player-colors;

  @include tablet {
    padding: 0 2.5rem;
  }

  @include desktop {
    padding: 0 11rem;
  }

  &__wrapper {
    @include container-center;
  }

  &__main {
    width: 100%;
    object-fit: cover;

    @include desktop {
      max-height: 33rem;
    }
  }
}
