@use "../../App.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  background-color: $video-player-colors;

  @include tablet {
    padding: 0 2.5rem;
  }

  @include desktop {
    padding: 0 11rem;
  }

  &__wrapper {
    @include container-center($max-width-mobile);

    @include tablet {
      @include container-center($max-width-tablet);
    }

    @include desktop {
      @include container-center($max-width-desktop);
    }
  }

  &__main {
    width: 100%;
    object-fit: cover;
    max-height: 12rem;

    @include tablet {
      max-height: 24rem;
    }

    @include desktop {
      max-height: 33rem;
    }
  }
}
