@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.publish {
  border-top: 1px $border-outline-color solid;

  &__wrapper {
    @include container-center($max-width-mobile);

    @include tablet {
      @include container-center($max-width-tablet);
    }

    @include desktop {
      @include container-center($max-width-desktop);
    }
  }

  &__title {
    padding: 1.5rem 1rem 0 1rem;
    font-weight: 600;

    @include tablet {
      padding: 2rem 2.5rem 1rem 2.5rem;
    }

    @include desktop {
      padding: 2rem 7rem 1rem 7rem;
    }
  }
}

.publish-form {
  padding: 1rem;

  @include tablet {
    padding: 1rem 2.5rem 2.5rem 2.5rem;
  }

  @include desktop {
    padding: 1rem 7rem 0 7rem;
  }

  &__wrapper {
    @include tablet {
      border-top: 1px solid $border-outline-color;
      border-bottom: 1px solid $border-outline-color;
    }

    @include desktop {
      display: flex;
      padding: 1.5rem 0 1rem 0;
    }
  }

  &__container {
    @include display-flex(column, center, center);

    @include desktop {
      width: 70%;
    }
  }

  &__name {
    color: $secondary-font-color;
    width: 100%;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    margin: 4px 0 1rem 0;
    padding-left: 0.5rem;
    resize: none;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid $border-outline-color;
    background-color: $secondary-background-color;

    &--large {
      height: 6rem;
      padding: 0.5rem 0 0 0.5rem;
    }
  }

  &__button {
    @include display-flex(column, center, center);

    @include tablet {
      padding-top: 1.5rem;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  }

  &__cancel {
    color: $primary-action-color;
    margin-top: 2rem;
    font-weight: 600;

    @include tablet {
      margin: 0;
    }
  }
}

.publish-thumbnail {
  @include desktop {
    width: 30%;
    margin-right: 1.5rem;
  }

  &__title {
    color: $secondary-font-color;
    font-weight: 600;
    padding-bottom: 4px;

    @include tablet {
      padding-top: 2rem;
    }

    @include desktop {
      padding: 0;
    }
  }

  &__picture {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 100%;
    }
  }
}
