@use "../../App.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  padding: 0.5rem 1rem 0 1rem;

  @include tablet {
    padding: 1rem 2.5rem 0 2.5rem;
  }

  @include desktop {
    padding: 0;
  }

  &__count {
    padding-bottom: 1rem;
    font-weight: 600;

    @include desktop {
      padding: 0.5rem 0 2rem 0;
    }
  }
}

// FORM STYLING

.form {
  display: flex;
  margin-bottom: 1rem;

  @include desktop {
    margin-bottom: 2rem;
  }

  &__icon {
    margin-top: 1.25rem;

    @include tablet {
      margin-right: 0.5rem;
    }
  }

  &__avatar {
    @include icon-size(2rem, 2.2rem);

    @include tablet {
      margin-right: 0.5rem;
      @include icon-size(2.5rem, 2.7rem);
    }
  }

  &__container {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
      flex-direction: row;
    }
  }

  &__name {
    margin-bottom: 4px;
    color: $secondary-font-color;

    @include tablet {
      width: 90%;
    }
  }

  &__input {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0 0.5rem;
    resize: none;
    height: 6rem;
    border-radius: 5px;
    border: 1px solid $border-outline-color;
    background-color: $secondary-background-color;

    @include tablet {
      height: 3rem;
    }

    &:focus {
      border: 1px $primary-font-color solid;
    }
  }
}

// COMMENT SECTION STYLING

.comment {
  display: flex;
  flex-direction: column;

  &__card {
    display: flex;
    border-bottom: 1px solid $border-outline-color;
    margin-bottom: 1rem;

    @include desktop {
      padding: 1.5rem;
      margin-bottom: 0;
      border: none;
      border-top: 1px solid $border-outline-color;
    }

    &:nth-child(1) {
      border-top: 1px solid $border-outline-color;
      padding-top: 1rem;

      @include desktop {
        padding-top: 1.5rem;
      }
    }
  }

  &__icon {
    @include icon-size(2rem, 2.2rem);

    @include tablet {
      margin-right: 0.5rem;
      @include icon-size(2.5rem, 2.7rem);
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  &__name {
    width: 50%;
    margin-bottom: 0.5rem;
  }

  &__date {
    width: 50%;
    text-align: end;
    color: $secondary-font-color;
  }
}
