@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/resets" as *;

.video-wrapper {
  @include container-center($max-width-mobile);

  @include tablet {
    @include container-center($max-width-tablet);
  }

  @include desktop {
    display: flex;
    padding: 0 7rem;
    @include container-center($max-width-desktop);
  }

  &__left {
    @include desktop {
      width: 70%;
      border-right: 1px solid $border-outline-color;
    }
  }
}
