@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/resets" as *;

// HEADER STYLING

header {
  padding: 1rem;
  @include container-center($max-width-mobile);

  @include tablet {
    padding: 1rem 2.5rem 1rem 2.5rem;
    @include container-center($max-width-tablet);
  }

  @include desktop {
    padding: 1.5rem 7rem 1.5rem 7rem;
    @include container-center($max-width-desktop);
  }
}

// VIDEO SECTION CONTAINING STYLING

.video-wrapper {
  @include container-center($max-width-mobile);

  @include tablet {
    @include container-center($max-width-tablet);
  }

  @include desktop {
    display: flex;
    padding: 0 7rem;
    @include container-center($max-width-desktop);
  }

  &__left {
    @include desktop {
      width: 70%;
      border-right: 1px solid $border-outline-color;
    }
  }
}
